/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*default error*/
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* index css */
body {
    background: none;
    margin-bottom: 0px;
}

#index-navbar {
    display: table-row;
}

#cover {
    background: url(../img/wallpaper-aurora.jpg)no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    display: table;
}

#intro {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    color: rgb(235,235,235);
    text-shadow: 0 0 2px black;
}

#intro h1 {
    font-size: 5.5em; 
    padding-bottom: 40px; 
    margin: 0px; 
    font-family: 'Gentium Book Basic', serif;
    font-weight: 600;
}

#intro p {
    font-size: 2em; 
    padding: 5px;
    margin: 0px;
    font-family: 'Bitter', serif;
}

#intro p {
    font-family: 'Gentium Book Basic', serif;
}

#down {
    font-size: 4em;
    text-align: center;
    display: table-row;
    
}

#down-btn {
    color: rgb(230,230,230);
}

#down-btn:hover {
    color: rgb(150,150,150);
}

#more-info {
    background: url(../img/wallpaper-sky.jpg)no-repeat center center; 
    background-size: cover;
    min-height: 100vh;
}

#about-container {
    width: 70%;  
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
}

#about-me {
    color: rgb(235, 250, 250);
    padding-top: 70px;
    display: block;
    text-shadow: 1px 0px 1px black;
}

#about-me h1 {
    font-size: 4em; 
    padding-bottom: 30px; 
    margin: 0px; 
    font-family: 'Gentium Book Basic';
}

#about-me p {
    font-size: 2em; 
    padding: 10px 100px;
    margin: 0px;
    font-family:  'Lato', serif;
}

#about-me p a {
    text-decoration: underline;
    color: rgb(235, 250, 250);
}

#about-me p a:hover {
    text-decoration:none;
}

.clear-fix {
    clear: both;
}

/* footer */
footer {
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 0px;
    height: auto;
}

footer ul {
    list-style: none; 
    padding: 0px;
    margin: 0px;
}

footer ul li { 
    display: inline-block; 
    color: rgb(240, 250, 255); 
    padding: 5px 10px; 
}

.footer-item {
    font-size: 1.5em;
    padding: 5px;
}

.icon { 
    color: rgb(240, 250, 255);
}

.icon:hover {
    color: rgb(150,150,150);
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 1500px) {
    
    /*  index css */
    #intro p {
        font-size: 1.7em; 
    }
    
    #about-me p {
        font-size: 1.8em;
        padding: 10px 40px;
    }

/* Ipad */    
@media screen and (max-width: 768px) {
    
    /*  index css */
    #intro h1 {
        font-size: 5em; 
        padding-bottom: 50px; 
    }

    #intro p {
        font-size: 2em; 
    }
    
    #about-container {
        padding: 80px 0px;
    }
    
    #about-me h1 {
        font-size: 3.5em;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    
    #about-me p {
        font-size: 1.65em;
        padding: 10px 0px 10px 5px;
    }
    
    #top-btn-container {
        display: none;
    }
    
    .footer-item {
        display: none;
    }
}

/* Iphone 6 plus */    
@media screen and (max-width: 414px) {
    
    /*   navbar css  */
    #cover {
        padding-top: 20px;
    }
    
    #my-nav li a {
        padding: 5px 0px 0px 15px;
        font-size: 1.2em;
    }
    
    /*   index css  */
    #index-container {
        width: 80%;  
    }
    
    #cover {
        background-attachment: scroll;
    }
    
    #intro h1 {
        font-size: 3em; 
        padding-bottom: 20px; 
    }
    
    #intro p {
        font-size: 1.4em; 
    }
    
    #down {
        font-size: 3.5em; 
    }
    
    #about-container {
        width: 80%;
        padding-top: 0px;
        padding-bottom: 60px;
    }
    
    #about-me {
        padding-top: 40px;
    }
    
    #about-me h1 {
        font-size: 2.5em; 
        padding-bottom: 10px;
    }
    
    #about-me p {
        font-size: 1.3em; 
        padding: 5px 0px 10px 10px;
    }
    
    /*  footer css  */
    footer {
        font-size: 0.8em;
        padding: 10px;
    }
    
    footer ul li {
        padding: 5px;
    }
    
    .footer-item {
        display: none;
    }
}

/* Iphone 6 */
@media screen and (max-width: 375px) {
    
    #logo {
        font-size: 2em;
    }
    
    #down {
        font-size: 3em; 
    }
    
    #about-container {
        padding-bottom: 55px;
    }
    
    #about-me h1 {
        font-size: 2.2em;
        padding-bottom: 5px;
    }
    
    #about-me p {
        font-size: 1.2em;
        padding: 10px 5px 5px 10px;
    }
}

/* Iphone 5 */
@media screen and (max-width: 320px) {
    
    /*   navbar css  */
    #cover {
        padding-top: 15px;
    }
    
    #logo {
        font-size: 1.8em;
        margin-left: 15px;
    }
    
    #my-nav li a {
        font-size: 1.1em;
    }
    
    /*   index css  */
    #intro h1 {
        font-size: 2.5em; 
    }
    
    #intro p {
        font-size: 1.2em; 
    }
    
    #about-me h1 {
        font-size: 2em; 
    }
    
    #about-me p {
        font-size: 1.1em;
        padding: 5px 0px 5px 10px;
    }
    
    #down {
        font-size: 3em;
    }
}    
    
    
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) 

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden; /*default error*/
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*default error*/
.clearfix {
    *zoom: 1; 
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}