/*default setting*/
html {
    position: relative;   
    min-height: 100%; 
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    margin-bottom: 60px;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../img/wallpaper-aurora.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#preloader {
   position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: url(../img/Loading.gif) no-repeat center center;
    background-size: 50px 50px;
}

.navbar {
    background: none; 
    border: none; 
    padding-top: 30px;
}

.navbar-nav {
    float: right; 
}

#bs-example-navbar-collapse-1 {
    border: none;
    margin-top: -10px;
}

.navbar-collapse {
    box-shadow: none;
}

.navbar-toggle {
    margin-right: 20px;
}

#logo {
    font-family: 'Pacifico', cursive; 
    color: rgb(230,230,230);  
    text-shadow: 1px 1px 3px rgb(30,30,30);
    font-size: 2.5em; 
    margin-left: 25px; 
}

#logo:hover {
    color:rgb(150,150,150); 
}

#my-nav li {
    display: inline-block;
    z-index: 10;
}

#my-nav li a {
    font-size: 1.3em; 
    color: rgb(230,230,230);  
    background: none; 
		transition: all 0.3s;
}

#my-nav li a:hover {
    color: rgb(150,150,150);  
}

#menu-btn { 
    font-size: 2em; 
    color: rgb(220,220,220);  
    margin-top: -10px;
}


/* index css */
#index-navbar {
    display: table-row;
}

#cover {
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    display: table;
}

#intro {
    display: table-cell;
    vertical-align: middle;
    color: rgb(230,230,230);
    text-shadow: 1px 1px 3px rgb(30,30,30);
    font-family: 'Gentium Book Basic', serif;
}

#intro-wrapper {
	margin-top: -50px;
}

#intro h1 {
    padding-bottom: 30px; 
    margin: 0; 
    font-weight: 600;
		font-size: 5.5vw;
		opacity: 0;
}

.intro-animation {
	-webkit-animation: fadeInDown 1s forwards;
	animation: fadeInDown 1s forwards;
	animation-delay: 0.5s;
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.intro-detail {
    padding: 5px;
    margin: 0px;
		font-size: 1.5em;
}

.typed-cursor {
	display: none;
}

#down-btn-wrapper {
    text-align: center;
    display: table-row;
}

#down-btn {
		opacity: 0;
    color: rgb(220,220,220);
		-webkit-animation: zoomIn 0.8s forwards;
		animation: zoomIn 0.8s forwards;
		animation-delay: 7s;
}

#down-btn:hover {
    color: rgb(150,150,150);
}

@keyframes zoomIn {
  to {
    opacity: 1;
		font-size: 4.5em;
  }
}

@-webkit-keyframes zoomIn {
  to {
    opacity: 1;
		font-size: 4.5em;
  }
}

#work {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3));
}

#work-container {
    width: 80%;  
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
    color: rgb(220,220,220);
    text-shadow: 1px 1px 5px rgb(0,0,0);
}

#work h1 {
    text-align: center;
    margin: 0px; 
    font-size: 4em; 
    font-family: 'Gentium Book Basic', serif;
}

.webpage {
    padding-bottom: 40px;
}

.webpage h3 {
    margin: 10px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.webpage h3 a {
    font-size: 0.7em;
    padding-left: 10px;
    color: rgb(220,220,220);
    text-decoration: underline;
    transition: all 0.3s;
}

.webpage h3 a:hover {
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.webpage-img {
    border-radius: 2px;
    box-shadow: 1px 1px 15px black;
    transform: scale(1);
    filter: brightness(0.9);
    transition: all 0.5s;
}

.webpage-img:hover {
    transform: scale(1.05); 
    filter: brightness(1.05);
}

#contact {
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0));
}

#contact-container {
    width: 80%;  
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(235,235,235);
    text-shadow: 1px 1px 5px rgb(30,30,30);
}

#contact h1 {
    font-size: 4em; 
    margin: 0px; 
    padding-bottom: 20px; 
    font-family:  'Gentium Book Basic', serif;
}

#contact p {
    font-size: 1.6em; 
    padding: 5px;
    margin: 0px;
    font-family:  'Lato', serif;
}

#contact p a {
    text-decoration: underline;
    color: rgb(235,235,235);
    transition: all 0.3s;
}

#contact p a:hover {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

#contact-info {
    font-size: 0.9em;
    margin: 20px 0px;
}


/* about css */
#about-container {
    width: 80%;  
    margin: 0 auto;
    padding-bottom: 10px;
}

#about-heading h1 {
    font-size: 3.5em; 
    padding: 10px; 
    color: rgb(230,230,230); 
    text-shadow: 1px 1px 5px rgb(30,30,30);
    margin: 0px; 
    font-family: 'Bitter', serif;
}

#profile {
    padding-top: 30px;
    padding-bottom: 10px;
}

#profile-img {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
    opacity: 0;
    animation: fadeIn 2s forwards ease-out;
    -webkit-animation: fadeIn 2s forwards ease-out;
    animation-delay: 0.3s;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#profile-intro {
    color: rgb(240, 240, 240);
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4));
    text-shadow: 1px 1px 1px rgb(30,30,30);
}

#profile-intro p {
    padding: 10px 20px;
    margin: 0px;
    font-family:  'Lato', serif;
		font-size: 1.4vw;
		opacity: 0;
		animation: fadeInUp 1s forwards;
		-webkit-animation: fadeInUp 1s forwards;
    transform: translate3d(0, 100%, 0);
}

@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: none;
  }
}

#profile-intro p a {
    text-decoration: underline;
    color: rgb(235, 250, 250);
		transition: all 0.3s;
}

#profile-intro p a:hover {
    text-decoration: none;
		color: rgb(160, 160, 160);
}


/* gallery css */
#gallery-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-shadow: 1px 1px 5px rgb(30,30,30);
}

#gallery-heading h1 {
    text-align: center;
    font-size: 3.5em; 
    padding: 10px; 
    color: rgb(230,230,230); 
    margin: 0; 
    font-family: 'Bitter', serif;
}

#gallery-heading p {
    text-align: left;
    padding: 20px 60px;
    color: rgb(230,230,230); 
    margin-bottom: 20px;
    font-family:  'Lato', serif;
    font-size: 1.6vw;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    -webkit-animation: fadeIn 1.5s forwards;
}

.photo-frame {
    margin-bottom: 30px; 
}

.photo {
    display: block; 
    position: relative; 
    overflow: hidden; 
} 

.photo img { 
    transform: scale(1); 
    transition: all 1s;
}

.photo h2 {
		font-size: 2.5vw;
    position: absolute; 
    width: 100%; 
    top: 40%; 
    color: white; 
    padding: 0px 20px;
    opacity: 0;  
    transform: translateY(-30px); 
    transition: all 0.5s; 
}

.photo:hover img {
    transform: scale(1.1); 
    filter: brightness(0.5);  
}

.photo:hover h2 {
    transform:translateY(0px); 
    opacity:1; 
}

/* footer */
footer {
    position: absolute;
    height: 60px;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
}

footer ul {
    list-style: none; 
    padding-left: 0px;
}

footer ul li { 
    display: inline-block; 
    color: white; 
    padding: 5px 10px; 
}

.footer-item {
    font-size: 1.5em;
    padding: 5px;
}

.icon { 
    color: rgb(230,230,230);  
}

.icon:hover {
    color: rgb(150,150,150);
}

/*Extra*/



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 1500px) {
    #intro h1 {
        font-size: 5.5em; 
    }
    
    #intro p {
        font-size: 1.6em; 
    }
	
		#profile-intro p {
			font-size: 1.5em;
		}
	
		#gallery-heading p {
			font-size: 1.6em;
		}
	
	.photo h2 {
		font-size: 2.8em;
	}
}

@media screen and (max-width: 1200px) {
	  #intro h1 {
        font-size: 5em; 
    }
	
	#down-btn-wrapper {
		font-size: 0.8em;
	}
	
		#gallery-heading h1 {
			font-size: 3em;
		}

		#gallery-heading p {
			font-size: 1.5em; 
			padding: 10px 30px; 
		}
	
		.photo h2 {
			font-size: 2em;
		}
	
}

/*  Ipad */
@media screen and (max-width: 768px) {
    
    /*  index css */
    #work-container {
        width: 85%;
        padding-bottom: 30px;
    }
    
    #work h1 {
        font-size: 3em;
        padding-bottom: 20px;
    }
    
    .webpage-img:hover {
        transform: scale(1); 
    }
    
    #contact h1 {
        font-size: 3em;
    }
    
    /*  about css */
    #about-heading h1 {
        font-size: 2.5em; 
        padding-top: 20px;
        padding-bottom: 0px; 
    }
    
    #profile-img {
        padding-top: 30px;
        border-radius: 0px;
    }
    
    #profile-intro p {
        font-size: 1.1em; 
    }
    
    /*  gallery css */
    #gallery-heading h1 {
        font-size: 2.5em;
        padding-top: 20px;
        padding-bottom: 10px; 
    }

    #gallery-heading p {
        font-size: 1.3em; 
        margin-bottom: 10px;
    }
    
    .photo-frame {
        padding: 10px;
        margin: 0px;
    }
    
    .photo h2 {
        font-size: 2em;
        top: 35%; 
    }
    
    /* magic css */
    #magic-gallery {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    footer {
        margin-bottom: 0px;
    }
    
    .footer-item {
        display: none;   
    }
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
        padding-right: 30px;
        position: absolute;
        width: 100%;
    }
		
		#profile-img {
			animation: fadeIn 1.5s forwards ease-out;
			-webkit-animation: fadeIn 1.5s forwards ease-out;
			animation-delay: 0.3s;
		}
	
	  .photo h2 {
        font-size: 6vw;
        top: 40%; 
    }
}

@media screen and (max-width: 550px) {
		#intro h1 {
        font-size: 4em; 
    }
}

/*  Iphone 6 plus */
@media screen and (max-width: 414px) {
    body {
        margin-bottom: 30px;
    }
    
    /*   navbar css  */
    #logo {
        font-size: 2em;
        margin-left: 20px;
    }
    
    #my-nav li a {
        padding: 0px 10px;
        font-size: 1.2em;
    }
    
    /* index css */
    #intro h1 {
        font-size: 3em; 
        padding-bottom: 20px; 
    }
    
    #intro p {
        font-size: 1.4em; 
    }
    
    #down-btn-wrapper {
			font-size: 0.7em;
		}
    
    #work-container {
        width: 80%;
        padding-top: 50px;
    }
    
    #work h1 {
        font-size: 2.5em;
        padding-bottom: 15px;
    }
    
    .webpage {
        padding-bottom: 10px;
    }
    
    .webpage h3 {
        font-size: 1.3em;
    }
    
    .webpage-img {
        margin-bottom: 20px;
    }
    
    #contact-container {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    #contact h1 {
        font-size: 2.5em; 
        padding-bottom: 10px;
    }
    
    #contact p {
        font-size: 1.25em; 
    }
    
    /*  about css */
    #about-heading h1 {
        font-size: 2.2em; 
    }
    
    #profile {
        padding-top: 20px;
    }
    
    #profile-img {
        padding: 0px 20px 20px 20px;
    }
    
    #profile-intro p {
        font-size: 1.1em; 
        padding: 10px;
    }
    
    /*  gallery css */
    #gallery-heading h1 {
        font-size: 1.8em; 
        padding-bottom: 0px; 
    }

    #gallery-heading p {
        font-size: 1.15em; 
        padding: 15px 5px 10px 10px; 
    }
    
    .photo h2 {
        font-size: 2em;
        top: 35%; 
    }
    
    /*  magic css */
    #magic-container {
        width: 80%;  
        margin: 0 auto;
    }
    
    /*  footer css  */
    footer {
        height: 30px;
        font-size: 0.8em;
        margin-bottom: 0px;
    }
    
    footer ul li {
        padding: 5px;
    }
    
    .footer-item {
        display: none;
    }
    
    #top-btn {
        display: none;
    }
}

/*  Iphone 6 */
@media screen and (max-width: 375px) {
    
    /* navbar css */
    .navbar {
        padding-top: 25px;
        font-size: 0.9em;
    }
    
    #logo {
        margin-left: 15px;
    }
    
    /* index css */
    #cover {
        padding-top: 25px;
    }
	
		#intro-wrapper {
			margin-top: -30px;
		}
    
    #work-container {
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    #work h1 {
        padding-bottom: 10px;
    }
    
    .webpage h3 {
        font-size: 1.2em;
    }
    
    #contact-container {
        width: 82%;
        padding-top: 40px;
    }
    
    #contact h1 {
        font-size: 2.2em;
        padding-bottom: 5px;
    }
    
    #contact p {
        font-size: 1.15em;
    }
    
    #contact-info {
        margin: 5px 0px;
    }
    
    /*  about css */
    #about-container {
        width: 85%;
    }
    
    #about-heading h1 {
        font-size: 2em; 
    }
    
    #profile-intro p {
        font-size: 1.05em;
        padding-right: 5px;
    }
    
    /*  gallery css  */
    #gallery-heading h1 {
        font-size: 1.8em;
    }
    
    #gallery-heading p {
        margin-bottom: 0px;
    }
}

/*  Iphone 5 */
@media screen and (max-width: 320px) {
    
    /*  navbar css  */
    .navbar {
        font-size: 0.8em;
        padding-top: 20px;
    }
    
    /* index css */
    #cover {
        padding-top: 20px;
    }
    
    #intro h1 {
        font-size: 2.5em; 
    }
    
    #intro p {
        font-size: 1.2em; 
    }
    
    #work h1 {
        font-size: 1.8em;
    }
    
    .webpage h3 {
        font-size: 1.1em;
        padding-bottom: 5px;
    }
    
    #contact h1 {
        font-size: 1.8em; 
    }
    
    #contact p {
        font-size: 0.9em;
    }
    
    /*  about css */
    #about-heading h1 {
        font-size: 2em; 
    }
    
    #profile-intro p {
        font-size: 0.9em;
        padding-left: 5px;
        padding-right: 2px;
    }
    
    /*  gallery css  */
    #gallery-heading h1 {
        font-size: 1.5em;
    }
    
    #gallery-heading p {
        font-size: 1em;
    }
}


